In [1]:
import numpy as np 
import pandas as pd

<font color='purple'>
    
    
* [Pandas Serisi Oluşturmak](#1)
    1. [Index Belirleme & Değiştirme](#2)
    1. [DICTIONARY ile SERIES OLUŞTURMA](#3)
* [ELEMAN İŞLEMLERİ](#4)
    1. [FANCY](#5)
* [PANDAS ile Data Frame](#6)
    1. [List ile Data Frame Oluşturma](#7)
    1. [NumPy Array ile Data Frame Oluşturma](#8)
    1. [Data Frame Eleman İşlemleri](#9)
        * [Index ile Seçim İşlemi](#10)
        * [DROP (Silme)](#11)
        * [FANCY ile Toplu Silme](#12)
        * [KOŞULLU İŞLEMLER](#13)
        * [Yeni Sütun Eklemek](#14)
* [PANDAS ÖZELLİKLERİ](#15)
    1. [LOC & ILOC](#16)
    1. [Koşullu Eleman İşlemleri](#17)
    1. [CONCAT( ) Birleştirme](#18)
        * [Index Düzenleme](#19)
        * [Farklı Sütun İsimleri](#20)
        * [concat(,join="inner")Kesişimleri Birleştir](#21)
    1. [İLERİ BİRLEŞTİRME İŞLEMLERİ](#22)
        * [merge( )](#23)
            1. [MANY to ONE](#24)
            1. [MANY to MANY](#25)
* [AGGREGATION (Toplulaştırma)](#26)
* [GROUPING](#27)
* [İLERİ TOPLULAŞTIRMA İŞLEMLERİ](#28)
    1. [AGGREGATE](#29)
    1. [FILTER](#30)
    1. [TRANSFORM](#31)
    1. [APPLY](#32)
* [PİVOT TABLOLAR](#33)

<a id="1"></a>
# PANDAS SERİSİ OLUŞTURMAK

In [2]:
seri=pd.Series([10,20,30,40,50])
seri

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
type(seri)

pandas.core.series.Series

In [4]:
seri.axes
# serinin index bilgilerine erişiriz..

[RangeIndex(start=0, stop=5, step=1)]

In [5]:
seri.dtype

dtype('int64')

In [6]:
seri.size
# Eleman sayısı

5

In [7]:
seri.values
# Serimizi ARRAY olarak görebiliriz.

array([10, 20, 30, 40, 50])

<a id="2"></a>
## Index Belirleme & Değiştirme

In [8]:
pd.Series([50,60,70,80,90],index=[1,2,3,4,5])
# index leri belirledik

1    50
2    60
3    70
4    80
5    90
dtype: int64

In [9]:
seri2=pd.Series([50,60,70,80,90],index=["a","b","c","d","e"])
seri2

a    50
b    60
c    70
d    80
e    90
dtype: int64

In [10]:
seri2["c"]
# İndex ile istediğimiz elemanı çağırabiliriz.

70

In [11]:
seri2["b":"d"]
# Index ile istediğimiz aralıktaki değerleri çağırabiliriz.

b    60
c    70
d    80
dtype: int64

<a id="3"></a>

## DICTIONARY ile SERIES OLUŞTURMA

In [12]:
sozluk={"hilal":24,"sudem":17,"berkay":19}
pd.Series(sozluk)

hilal     24
sudem     17
berkay    19
dtype: int64

<a id="4"></a>

# ELEMAN İŞLEMLERİ

NumPy Array ile Seri oluşturabiliriz.

In [13]:
a=np.array([1,2,33,444,75])
a
seri3=pd.Series(a)
seri3

0      1
1      2
2     33
3    444
4     75
dtype: int64

In [14]:
seri3[3]

444

In [15]:
seri3[0:3]

0     1
1     2
2    33
dtype: int64

In [16]:
seri4=pd.Series([121,200,150,99],index=["reg","loj","cart","rf"])
seri4

reg     121
loj     200
cart    150
rf       99
dtype: int64

In [17]:
seri4.keys

<bound method Series.keys of reg     121
loj     200
cart    150
rf       99
dtype: int64>

In [18]:
list(seri4.items())
# Her key i ve değerini listeler

[('reg', 121), ('loj', 200), ('cart', 150), ('rf', 99)]

In [19]:
"reg" in seri4
# reg seri4 de varsa TRUE
# yoksa FALSE

True

<a id="5"></a>

## FANCY

In [20]:
seri4[["rf","reg"]]

rf      99
reg    121
dtype: int64

In [21]:
seri4["reg"]=97
# Değer değiştirdik
seri4

reg      97
loj     200
cart    150
rf       99
dtype: int64

In [22]:
seri4["loj":"rf"]

loj     200
cart    150
rf       99
dtype: int64

<a id="6"></a>

# PANDAS ile Data Frame

<a id="7"></a>

## List ile Data Frame Oluşturma

In [23]:
l=([1,3,2,7,8,12])
pd.DataFrame(l,columns=["degisken_adi"])

   degisken_adi
0             1
1             3
2             2
3             7
4             8
5            12

<a id="8"></a>

## NumPy Array ile Data Frame Oluşturma

In [24]:
m=np.arange(1,10).reshape((3,3))
pd.DataFrame(m,columns=["birinci","ikinci","ücüncü"])

   birinci  ikinci  ücüncü
0        1       2       3
1        4       5       6
2        7       8       9

### Data Frame İsimlendirme

In [25]:
df=pd.DataFrame(m,columns=["birinci","ikinci","ücüncü"])
df

   birinci  ikinci  ücüncü
0        1       2       3
1        4       5       6
2        7       8       9

In [26]:
df.columns=["h","m","y"]
df

   h  m  y
0  1  2  3
1  4  5  6
2  7  8  9

<a id="9"></a>
# Data Frame Eleman İşlemleri

In [27]:
s1=np.random.randint(10,size=5)
s2=np.random.randint(10,size=5)
s3=np.random.randint(10,size=5)

sozluk={"var1":s1,"var2":s2,"var3":s3}
sozluk

{'var1': array([8, 4, 9, 8, 6]),
 'var2': array([5, 1, 5, 2, 1]),
 'var3': array([5, 4, 4, 4, 8])}

In [28]:
df2=pd.DataFrame(sozluk)
df2

   var1  var2  var3
0     8     5     5
1     4     1     4
2     9     5     4
3     8     2     4
4     6     1     8

<a id="10"></a>

# Index ile Seçim İşlemi

In [29]:
df2[0:3]

   var1  var2  var3
0     8     5     5
1     4     1     4
2     9     5     4

In [30]:
df2.index=["a","b","c","d","e"]
# index isimlerini değiştirdik
df2

   var1  var2  var3
a     8     5     5
b     4     1     4
c     9     5     4
d     8     2     4
e     6     1     8

In [31]:
df2["b":"d"]

   var1  var2  var3
b     4     1     4
c     9     5     4
d     8     2     4

<a id="11"></a>

# DROP (Silme)

##### drop() fonksiyonu kalıcı olarak silme işlemi geçekleştirmez. Kalıcı olması için yeniden atama yapmamız gerekir.

In [32]:
df2.drop("a",axis=0)
# AXIS=0 -> Satır

   var1  var2  var3
b     4     1     4
c     9     5     4
d     8     2     4
e     6     1     8

#### Yada yeniden atama yapmadan drop() fonksiyonu içindeki inplace argümanını True yapabiliriz.

In [33]:
df2.drop("b",axis=0,inplace=True)

In [34]:
df2 # "b" indexi kalıcı olarak silindi.

   var1  var2  var3
a     8     5     5
c     9     5     4
d     8     2     4
e     6     1     8

<a id="12"></a>

# FANCY ile Toplu Silme

In [35]:
l=["c","e"]

In [36]:
df2.drop(l,axis=0)

   var1  var2  var3
a     8     5     5
d     8     2     4

<a id="13"></a>
# KOŞULLU İŞLEMLER

In [37]:
"var1" in df2

True

In [38]:
l2=["var1","var4","var2"]

for i in l2:
    print(i in df2)

True
False
True

<a id="14"></a>
# Yeni Sütun Eklemek

In [39]:
df2["var4"]=df2["var1"]/df2["var2"]
df2

   var1  var2  var3  var4
a     8     5     5   1.6
c     9     5     4   1.8
d     8     2     4   4.0
e     6     1     8   6.0

In [40]:
df2.drop("var4",axis=1,inplace=True)
df2

   var1  var2  var3
a     8     5     5
c     9     5     4
d     8     2     4
e     6     1     8

<a id="15"></a>
# PANDAS ÖZELLİKLERİ

<a id="16"></a>

## LOC & ILOC

In [41]:
array=np.random.randint(1,30,size=(10,3))
d_f=pd.DataFrame(array,columns=["deg1","deg2","deg3"])
d_f

   deg1  deg2  deg3
0    10     5    11
1    20    10    26
2    24     7    20
3     8    27    11
4    25    21    29
5    23    16    18
6     7    19     7
7    25    28    15
8     6     8     3
9     2    24     5

<font color='red'>

### **loc[ ]**: Tanımlandığı şekli ile seçin yapmak için kullanılır.

In [42]:
d_f.loc[0:3]
# 0 dan 3 e kadar (0 ve 3 dahil!!) secilen indexleri gösterir

   deg1  deg2  deg3
0    10     5    11
1    20    10    26
2    24     7    20
3     8    27    11

<font color='red'>

### **iloc[ ]**: Bildiğimiz indexleme mantığı ile seçim yapar.

In [43]:
d_f.iloc[0:3]
# 0-1-2 . indexleri gösterir. 3 dahil değil.

   deg1  deg2  deg3
0    10     5    11
1    20    10    26
2    24     7    20

<a id="17"></a>

# Koşullu Eleman İşlemleri

In [44]:
d_f[d_f.deg1>15]
# deg1 in 15 den büyük olduğu satırları filtre olarak kullandık.

   deg1  deg2  deg3
1    20    10    26
2    24     7    20
4    25    21    29
5    23    16    18
7    25    28    15

In [45]:
d_f[(d_f.deg1<20)&(d_f.deg2>10)]

   deg1  deg2  deg3
3     8    27    11
6     7    19     7
9     2    24     5

<a id="18"></a>

# CONCAT( ) Birleştirme

In [46]:
d_f2=d_f+100
d_f2

   deg1  deg2  deg3
0   110   105   111
1   120   110   126
2   124   107   120
3   108   127   111
4   125   121   129
5   123   116   118
6   107   119   107
7   125   128   115
8   106   108   103
9   102   124   105

##### İki Data Frame i alt alta birleştirelim.

In [47]:
pd.concat([d_f,d_f2])

   deg1  deg2  deg3
0    10     5    11
1    20    10    26
2    24     7    20
3     8    27    11
4    25    21    29
5    23    16    18
6     7    19     7
7    25    28    15
8     6     8     3
9     2    24     5
0   110   105   111
1   120   110   126
2   124   107   120
3   108   127   111
4   125   121   129
5   123   116   118
6   107   119   107
7   125   128   115
8   106   108   103
9   102   124   105

<a id="19"></a>

### Index Düzenleme

##### index lerde ki uyumsuzluğu çözmek için ignore_index argümanını True yaparız.

In [48]:
pd.concat([d_f,d_f2],ignore_index=True)

    deg1  deg2  deg3
0     10     5    11
1     20    10    26
2     24     7    20
3      8    27    11
4     25    21    29
5     23    16    18
6      7    19     7
7     25    28    15
8      6     8     3
9      2    24     5
10   110   105   111
11   120   110   126
12   124   107   120
13   108   127   111
14   125   121   129
15   123   116   118
16   107   119   107
17   125   128   115
18   106   108   103
19   102   124   105

<a id="20"></a>

### Farklı Sütun İsimleri

#### Sütun isimleri FARKLI olursa:

In [49]:
d_f2.columns=["deg1","deg2","value"]
d_f2

   deg1  deg2  value
0   110   105    111
1   120   110    126
2   124   107    120
3   108   127    111
4   125   121    129
5   123   116    118
6   107   119    107
7   125   128    115
8   106   108    103
9   102   124    105

In [50]:
pd.concat([d_f,d_f2])

   deg1  deg2  deg3  value
0    10     5  11.0    NaN
1    20    10  26.0    NaN
2    24     7  20.0    NaN
3     8    27  11.0    NaN
4    25    21  29.0    NaN
5    23    16  18.0    NaN
6     7    19   7.0    NaN
7    25    28  15.0    NaN
8     6     8   3.0    NaN
9     2    24   5.0    NaN
0   110   105   NaN  111.0
1   120   110   NaN  126.0
2   124   107   NaN  120.0
3   108   127   NaN  111.0
4   125   121   NaN  129.0
5   123   116   NaN  118.0
6   107   119   NaN  107.0
7   125   128   NaN  115.0
8   106   108   NaN  103.0
9   102   124   NaN  105.0

<a id="21"></a>

### concat(,join="inner")

#### Kesişimleri birleştirmek için join argümanını kullanırız.

In [51]:
pd.concat([d_f,d_f2],join="inner")

   deg1  deg2
0    10     5
1    20    10
2    24     7
3     8    27
4    25    21
5    23    16
6     7    19
7    25    28
8     6     8
9     2    24
0   110   105
1   120   110
2   124   107
3   108   127
4   125   121
5   123   116
6   107   119
7   125   128
8   106   108
9   102   124

<a id="22"></a>

# İLERİ BİRLEŞTİRME İŞLEMLERİ

In [52]:
df3=pd.DataFrame({'calisanlar':["Ali","Veli","Aysr","Fatma"],
                 "grup":["Muhasebe","Muhendislik","Muhendislik","İK"]})
df3

  calisanlar         grup
0        Ali     Muhasebe
1       Veli  Muhendislik
2       Aysr  Muhendislik
3      Fatma           İK

In [53]:
df4=pd.DataFrame({'calisanlar':["Ali","Veli","Aysr","Fatma"],
                 "ilk_giris":[2010,2009,2014,2019]})
df4

  calisanlar  ilk_giris
0        Ali       2010
1       Veli       2009
2       Aysr       2014
3      Fatma       2019

<a id="23"></a>

## merge( )

In [54]:
pd.merge(df3,df4)
# calisanlar ortak sütunu ile birleştirdi

  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2010
1       Veli  Muhendislik       2009
2       Aysr  Muhendislik       2014
3      Fatma           İK       2019

<a id="24"></a>
### MANY to ONE

In [55]:
# MANY (ÇOKLU YAPI)
df5=pd.merge(df3,df4)
df5

  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2010
1       Veli  Muhendislik       2009
2       Aysr  Muhendislik       2014
3      Fatma           İK       2019

In [56]:
# ONE (TEKLİ YAPI)
df6=pd.DataFrame({"grup":["Muhasebe","Muhendislik","İK"],
                 "mudur":["Caner","Mustafa","Berkcan"]})
df6

          grup    mudur
0     Muhasebe    Caner
1  Muhendislik  Mustafa
2           İK  Berkcan

In [57]:
pd.merge(df5,df6)

  calisanlar         grup  ilk_giris    mudur
0        Ali     Muhasebe       2010    Caner
1       Veli  Muhendislik       2009  Mustafa
2       Aysr  Muhendislik       2014  Mustafa
3      Fatma           İK       2019  Berkcan

<a id="25"></a>
### MANY to MANY

In [58]:
df7=pd.DataFrame({"grup":["Muhasebe","Muhasebe","Muhendislik","Muhendislik","İK","İK"],
                 "yetenekler":["matematik","excel","kodlama","linux","excel","yonetim"]})
df7

          grup yetenekler
0     Muhasebe  matematik
1     Muhasebe      excel
2  Muhendislik    kodlama
3  Muhendislik      linux
4           İK      excel
5           İK    yonetim

In [59]:
pd.merge(df5,df7)

  calisanlar         grup  ilk_giris yetenekler
0        Ali     Muhasebe       2010  matematik
1        Ali     Muhasebe       2010      excel
2       Veli  Muhendislik       2009    kodlama
3       Veli  Muhendislik       2009      linux
4       Aysr  Muhendislik       2014    kodlama
5       Aysr  Muhendislik       2014      linux
6      Fatma           İK       2019      excel
7      Fatma           İK       2019    yonetim

<a id="26"></a>
# AGGREGATION (Toplulaştırma)

## Basit Toplulaştırma Fonksiyonları (Aggregation Function)

* count()
* first()
* last()
* mean()
* median()
* min()
* max()
* std()
* var()
* sum()

In [60]:
import seaborn as sns
dataFrame=sns.load_dataset("planets")
dataFrame

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [61]:
dataFrame.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [62]:
dataFrame.mean()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [63]:
dataFrame["mass"].min()

0.0036

In [64]:
dataFrame["orbital_period"].std()

26014.72830406252

In [65]:
dataFrame.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [66]:
dataFrame.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

<a id="27"></a>
# GROUPING

**Kategorik** değişkenlerin gruplarına ayrılması ve bunun üzerinden işlem yapılması.

Gruplama işlemi aggreation fonksiyonları ile birlikte kullanılır.

In [67]:
dataFrame2=pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                 "veri":[10,11,52,23,43,55]},columns=["gruplar","veri"])
dataFrame2

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    23
4       B    43
5       C    55

In [68]:
dataFrame2.groupby("gruplar")
# Gruplama işlemi gerçekleşti ve memory ye yerleşti.
# Fakat gruplama işlemi tek başına bir şey ifade etmiyor.

In [69]:
dataFrame2.groupby("gruplar").mean()

         veri
gruplar
A        16.5
B        27.0
C        53.5

In [70]:
dataFrame.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [71]:
dataFrame.groupby("method")["orbital_period"].count()

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           12
Microlensing                       7
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          3
Name: orbital_period, dtype: int64

<a id="28"></a>
# İLERİ TOPLULAŞTIRMA İŞLEMLERİ

* Aggregate
* Filter
* Transform
* Apply

In [72]:
dataF=pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                   "degisken1":[10,23,33,22,11,99],
                   "degisken2":[100,253,333,262,11,969]},
                  columns=["gruplar","degisken1","degisken2"])
dataF

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11         11
5       C         99        969

<a id="29"></a>
## AGGREGATE

In [73]:
dataF.groupby("gruplar").mean()

         degisken1  degisken2
gruplar
A             16.0      181.0
B             17.0      132.0
C             66.0      651.0

##### Hazırda var olan (describe) vb. istatistikleri değilde kendimiz spesifik bir istatiksel hesaplama istersek:

In [74]:
dataF.groupby("gruplar").aggregate([min,np.median,max])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10   16.0  22       100  181.0  262
B              11   17.0  23        11  132.0  253
C              33   66.0  99       333  651.0  969

In [75]:
dataF.groupby("gruplar").aggregate({"degisken1":max,"degisken2":min})

         degisken1  degisken2
gruplar
A               22        100
B               23         11
C               99        333

<a id="30"></a>
## FILTER

##### Data yı işlememiz için var olan pandas fonksiyonları yetersiz kalırsa, kendimiz fonksiyon tanımlarız ve filter() içinde kullanırız.

In [76]:
dataF

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11         11
5       C         99        969

In [77]:
def filter_func(h):
    return h["degisken1"].std()>9

In [78]:
dataF.groupby("gruplar").filter(filter_func)

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

<a id="31"></a>
## TRANSFORM

##### Data yı kendi tanımladığımız bir fonksiyonla transform etmek istersek.

In [79]:
dataF

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11         11
5       C         99        969

#### Kullanacağımız fonksiyon kategorik değişken yüzünden hata verdiği için data dan kategorik değişkenleri çıkarıyoruz.

In [80]:
dataF_a=dataF.iloc[:,1:]
dataF_a

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11         11
5         99        969

In [81]:
dataF_a.transform(lambda x: (x-x.mean())/x.std())

   degisken1  degisken2
0  -0.687871  -0.653761
1  -0.299074  -0.201839
2   0.000000   0.034460
3  -0.328982  -0.175255
4  -0.657963  -0.916644
5   1.973890   1.913039

<a id="32"></a>
## APPLY

#### Toplulaştırmak amacıyla kullanılan bir fonksiyon

In [82]:
dataF_a.apply(np.sum)

degisken1     198
degisken2    1928
dtype: int64

In [83]:
dataF_a.apply(np.mean)

degisken1     33.000000
degisken2    321.333333
dtype: float64

<a id="33"></a>
# PİVOT TABLOLAR

In [84]:
titanic=sns.load_dataset("titanic")
titanic.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [85]:
titanic.groupby("sex")["survived"].mean()

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [86]:
# Data Frame formatında gösterim
titanic.groupby("sex")[["survived"]].mean()

        survived
sex
female  0.742038
male    0.188908

In [87]:
titanic.groupby(["sex","pclass"])[["survived"]].aggregate("mean")

               survived
sex    pclass
female 1       0.968085
       2       0.921053
       3       0.500000
male   1       0.368852
       2       0.157407
       3       0.135447

In [88]:
titanic.groupby(["sex","pclass"])[["survived"]].aggregate("mean").unstack()

        survived
pclass         1         2         3
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [89]:
titanic.pivot_table("survived",columns="class",index="sex")
# index -> satır
# columns -> sütun

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [90]:
age=pd.cut(titanic["age"],[0,18,90])
# age i böldük ve kategorik yaptık (0-18)(18-90)
age.head(10)

0    (18.0, 90.0]
1    (18.0, 90.0]
2    (18.0, 90.0]
3    (18.0, 90.0]
4    (18.0, 90.0]
5             NaN
6    (18.0, 90.0]
7     (0.0, 18.0]
8    (18.0, 90.0]
9     (0.0, 18.0]
Name: age, dtype: category
Categories (2, interval[int64, right]): [(0, 18] < (18, 90]]

In [91]:
titanic.pivot_table("survived",["sex",age],"class")
# age yi kullandık.

class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 90]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 90]  0.375000  0.071429  0.133663